@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    background-color: #48cae4;
    color: #000;
    border: 10px yellow solid;
    border-radius: 5%;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 200px 300px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    background-image: url('./gif/water.webp');
    background-size: cover; 
    background-position: center;
}

button:focus {
    outline: none; 
}

button .circle {
    position: absolute;
    background-color: #caf0f8;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 3s ease-out;
    opacity: 25%;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}